<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p>
      <% if user_signed_in? %>
        <strong><%= t('message.logged_in', mail: current_user.email) %></strong>
        <%= link_to t('message.edit_profile'), edit_user_registration_path, class: 'navbar-link' %> |
        <%= link_to t('views.common.logout'), destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
      <% end %>
    </p>
  </body>
</html>
