<p><%= t('devise.mailer.common.hello', name: @resource.email)%></p>

<p><%= t('devise.mailer.reset_password_instructions.message1') %></p>

<p><%= link_to t('devise.title.password_edit'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.message2') %></p>
<p><%= t('devise.mailer.reset_password_instructions.message3') %></p>
